.current-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    overflow: auto;

    background-color: cornflowerblue;
}

.current-task-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 100%;
}
